@charset 'utf-8';

// メイン

main {
    position: relative;
    width: 100%;
    border-top: 10px solid #ea5514;
}

.main_title {
    text-align: center;
    padding: 10vh 7vw 0;
    img {
        width: 100%;
    }
}

.news {
    padding: 0 7vw;
    &_list {
        border-bottom: 1px dotted;
        margin-top: 5vh;
        img {
            width: 100%;
        }
        a {
            padding-bottom: 5vh;
        }
        time {
            font-size: smaller;
        }
        dt {
            font-size: 0.95em;
            padding-bottom: 1vh;
        }
        dd {
            font-size: 0.82em;
        }
        p {
            text-align: right;
        }
        span {
            display: inline-block;
            position: relative;
            padding-left: 35px;
            font-size: 3.5vw;
            color: #ea5514;;
        }
        span::before {
            content: '';
            display: inline-block;
            position: absolute;
            width: 15px;
            border-top: 1.5px solid #ea5514;
            top: 45%;
            left: 0;
        }
        span::after {
            content: '';
            display: inline-block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-bottom: 1.2px solid #ea5514;
            border-right: 1.2px solid #ea5514;
            transform: rotate(-45deg);
            top: 0;
            left: 15px;
            bottom: 0;
            margin: auto;
        }
    }
}

.back-btn {
    margin-top: 20vh;
    margin-bottom: 7vh;
    padding: 0 7vw;
    img {
        width: 100%;
    }
}

.main-logo {
    text-align: right;
    img {
        width: 50%;
        vertical-align: bottom;
    }
}